@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: Poppins;
}

#masthead img {
	width: 100%;
}

#headline {

	position: relative;
	bottom: 200px;
	text-align: center;
	font-size: 50px;
	color: white;
	letter-spacing: 4px;

}

.navDesign {

	background-color: #8dc63f;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	list-style: none;
	font-size: 23px;
	position: relative;
	bottom: 90px;
}

.navDesign a {

	text-decoration: none;
	color: white;

}

.navDesign a:hover {

	text-decoration: none;
	color: #3c5814;

}



button:active {

  border: none;
  color: #bedd94;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 70px;
  border-bottom: 10px solid #bedd94;
  background: none;

}

button:hover {

  border: none;
  color: #628f24;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 70px;
  border-bottom: 10px solid #628f24;
  background: none;

}


button {

  border: none;
  color: #bedd94;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 70px;
  font-weight: 700;
  background: none;

  border-bottom: 10px solid #bedd94;


}




.controls li {

  display: inline-block;
  position: relative;
  bottom: 30px;
  padding-bottom: 30px;
  

}

.controls {

 padding-left: 30px;


}

.container {

	font-size: 27px;
	padding-left: 2rem;
	color: #628f24;
	padding-bottom: 80px;
}


.container h2 {

	padding-bottom: 40px;
}

.container img {

	width: 80%;
	margin-left: auto;
	margin-right: 2rem;

}

.container p {

	font-size: 0.75rem;
	padding-right: 60px;
	margin-top: 20px;
}


footer {

	background-color: #8cae5d;
	height: 260px;

}

footer .box ul li{

	list-style: none;
	display: inline;
	font-size: 60px;
	padding-right: 20px;
	color: white;

}

footer .box ul li a {

	color: white;

}

footer .box ul li a:hover {

	color: #3c5814;

}

footer .box {
	text-align: center;
	padding-top: 30px;
}

footer .box h3 {

	font-weight: 500;
	font-size: 20px;
	color: white;

}

@media (min-width: 60rem) {


	#masthead {

		height: 80px;
		width: 100%;
		margin-bottom: 350px;

	}

	#headline {

		font-size: 67px;
		padding-bottom: 30px;
		margin-top: -30px;

	}

	.navDesign li {
		display: inline-block;
		padding-right: 40px;
		font-size: 30px;

	}
	
	.navDesign {
		text-align: center;

	}

	.container img {

		width: 25%;
		float: left;
	}

	.container {
		padding-bottom: 170px;
		margin-left: 4rem;
		margin-right: 4rem;
	}

	.controls {

		margin-left: 4rem;
		margin-right: 4rem;

	}

	.container p {
		font-size: 1rem;
	}

	footer {
		clear: left;
	}


}


@media (min-width: 40rem) {


	#masthead {

		height: 40px;
		width: 100%;
		margin-bottom: 350px;

	}

	#headline {

		font-size: 67px;
		padding-bottom: 30px;
		margin-top: -30px;

	}


}














